<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates Working</title>
</head>
<body>
    <!-- {{name}} is from {{place}} -->
    <h1>Enter the text you want to analyse</h1>
    <form action="/analyse" method="get">
        <textarea name="text" cols="150" rows="10"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuation
        <input type="checkbox" name="capitalise">UPPERCASE
        <input type="checkbox" name="newlineremover">New Line Remover
        <input type="checkbox" name="spaceremover">Space Remover
        <input type="checkbox" name="charcount">Char Count<br>
        <button type="submit">Submit Text</button>
    </form>
</body>
</html>